[project]
	description = Sistema de Vagas de Estacionamento de ESS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Paulo Borba (pauloborba)
[access "refs/for/refs/*"]
	read = group user/Paulo Borba (pauloborba)
	push = group user/Paulo Borba (pauloborba)
	label-Code-Review = -2..+2 group user/Paulo Borba (pauloborba)
	label-Verified = -1..+1 group user/Paulo Borba (pauloborba)
	rebase = group user/Paulo Borba (pauloborba)
	removeReviewer = group user/Paulo Borba (pauloborba)
	submit = group user/Paulo Borba (pauloborba)
[access "refs/heads/*"]
	read = group user/Paulo Borba (pauloborba)
	create = group user/Paulo Borba (pauloborba)
	push = +force group user/Paulo Borba (pauloborba)
	pushMerge = group user/Paulo Borba (pauloborba)
[access "refs/tags/*"]
	push = +force group user/Paulo Borba (pauloborba)
	pushTag = group user/Paulo Borba (pauloborba)
	pushSignedTag = group user/Paulo Borba (pauloborba)
